.card-page {
    padding-top: 0px;
}

.page-header {
    padding-block: 1em;
    padding-inline: 100px;
    background-color: #101f3c;
}

.page-header h1 {
    font-size: 3rem;
}

.searchbar {
    padding-bottom: 1em;
}

.card-grid {
    width: auto;
    padding-block: 3rem;
    padding-inline: 10rem;
}