/* CourseCard */
.course-card {
    background-color: #101f3c;
}

.course-card .start-date .calendar-icon {
    color: #ffffff;
}

/* Application Card */
.confetti {
    background-image: url("../frontend_images/vecteezy_realistic-multicolored-confetti-vector-for-the-festival_9345314_176.png");
    background-repeat: none;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.application-card .card-text, .application-card p {
    color: #000000;
}

.application-card .start-date .calendar-icon {
    color: #000000;
}


/* Styling for All Cards */
.card {
    margin-inline: 30px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #9a9795;
}


.card-img-top {
    height: 348px;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.card-title {
    padding-inline: 0px;
    padding-top: 36px;
    font-size: 2.5rem;
    color: #f5510f;
}

.card-body {
    padding-inline: 50px;
}

.card-text {
    font-size: 1.2rem;
    max-width: fit-content;
}

.start-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
}

.start-date .calendar-icon {
    height: 2.5rem;
    width: max-content;
    padding-right: 1rem;   
}

.button-row {
    padding-block: 0px;
    height: min-content;
    display: flex;
    justify-content: space-between;
    max-height: min-content;
}

.button-row .card-button {
    background-color: #f5510f;
    color: white;
    margin-bottom: 36px;
    padding: 10px;
    padding-inline: 20px;
    height: min-content;
    font-size: larger;
    font-weight: 700;
}

.button-row .card-button-outline {
    background-color: #00000000;
    border-color: #f5510f !important;
    color: #f5510f;
}

.button-row .card-button:hover {
    background-color: #f5350f;
    color: white;
}
